* {
    --menu-bg-color: hsl(300, 51%, 61%);
    --menu-text-color: hsl(300, 91%, 91%);
    --header-bg-color: hsl(0, 0%, 100%);
    --header-text-color: hsl(216, 85%, 8%);
    --button-bg-color: hsl(285, 48%, 72%);
    --button-text-color: hsl(300, 69%, 97%);
    --projects-bg-color: hsl(285, 17%, 91%);
    --items-bg-color: hsl(282.86deg 19% 80%);

    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0px;
}

body {
    display: flex;
    justify-content: center;
    background-color: hsl(268, 59%, 83%);
    margin: 0px;
}

h1 {
    font-size: 26px;
    font-weight: 400;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

/*==============================================================*/

.container {
    height: 100vh;
    width: 1260px;

    display: grid;
    grid-template-columns: 20% 2.5fr 1fr;
    grid-template-rows: 20% 1fr 1fr;

    overflow: hidden;
}

/*========================= MENU ===============================*/

.menu {
    background-color: var(--menu-bg-color);

    grid-column: 1 / 2;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-top: 15px;
    padding-left: 15px;

    z-index: 2;
}

/*========================= HEADER - LOGO ===============================*/

.menu .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--menu-text-color);
}

.menu .logo p {
    display: inline-flex;
    justify-content: flex-start;;
    align-items: center;
    font-size: 36px;
    gap: 5px;

    color: var(--menu-text-color);
}

.menu .logo svg {
    width: 50px;
    fill: var(--menu-text-color);
}

.menu .items-1, .menu .items-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding-left: 10px;
}

.menu .items-1 p, .menu .items-2 p {
    font-size: 26px;
    display: inline-flex;
    justify-content: flex-start;;
    align-items: center;
    gap: 20px;

    color: var(--menu-text-color);
}

.menu .items-1 svg, .menu .items-2 svg {
    width: 24px;
    fill: var(--menu-text-color);
}

/*========================= HEADER ===============================*/

.header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);

    grid-column: 2 / 4;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

/*========================= HEADER - TOP ===============================*/

.header .top {
    width: 90%;
    height: 30%;
    display: grid;
    grid-template-columns: 40px 7fr 1fr 3fr;
    align-items: center;
}

.header .top svg {
    width: 30px;
    fill: var(--header-text-color);
}

.header .top input[type=text] {
    height: 25px;
    border-radius: 20px;;
    background-color: hsl(284deg 17.31% 84.76%);
    border: none;
}

.header .top .profile-small {
    grid-column: 4 / 5;

    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.profile-small .profile-img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
}

.header .top img {
    height: 80px;
    width: auto;
    translate: -18px 0px;
}

/*========================= HEADER - BOTTOM ===============================*/

.header .bottom {
    width: 90%;
    height: 30%;
    display: grid;
    grid-template-columns: 70px 4fr 1fr 2fr;
    align-items: center;
    grid-gap: 5px;
    font-size: 24px;
}

.header .bottom .text p:first-child {
    font-size: 16px;
    padding-bottom: 3px;
}

.header .bottom .profile-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.header .bottom img {
    height: 100px;
    width: auto;
    translate: -21px 0px;
}

.header .bottom .buttons {
    grid-column: 4 / 5;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.buttons button {
    width: 85px;
    height: 37px;
    border-radius: 20px;
    border: none;

    font-size: 18px;

    color: var(--button-text-color);
    background-color: var(--button-bg-color);
}

/*========================= PROJECTS ===============================*/

.projects {
    background-color: var(--projects-bg-color);

    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 0px;
}

.project-items {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.project-items .item {
    height: 200px;
    display: grid;
    grid-template-columns: 10px 1fr 1fr;
    grid-template-rows: 20% 1fr 25%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--header-bg-color);
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.35);
}

.project-items .left-color {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    z-index: 1;
    background-color: var(--menu-bg-color);
}

.project-items h2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    z-index: 1;
}

.project-items p {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    padding-left: 20px;
    z-index: 1;
}

.project-items .icons {
    grid-column: 3 / 4;
    grid-row: 3 / 4;

    display: flex;
    justify-content: space-around;
}

.project-items svg {
    width: 22px;
    fill: hsl(300deg 66.31% 21.78% / 75%);
    z-index: 1;
}

.project-items img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.45;
    
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

/*========================= ANNOUNCEMENTS ===============================*/

.announcements {
    background-color: var(--projects-bg-color);

    grid-column: 3 / 4;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px;
}

.announcements h1 {
    font-size: 20px;
}

.announcements h2 {
    font-size: 15px;
}

.announcements-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header-bg-color);
    border-radius: 10px;
    padding: 30px;
    gap: 10px;
}

.announcements-items .divider {
    height: 2px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--projects-bg-color);
}

.announcements-items .item p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 2px;
}

/*========================= TRENDING ===============================*/

.trending {
    background-color: rgb(127, 178, 255);

    grid-column: 3 / 4;
    grid-row: 3 / 4;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trending-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.trending-items div {
    width: 200px;
    height: 50px;
    background-color: rgb(29, 119, 253);
}