:root {
    --menu-bg-color: #ce68ce;
    --menu-text-color: #fdd3fd;
    font-family: 'Roboto', sans-serif;
  }

body, p {
    margin: 0px;
    font-size: 36px;
}

.container {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 20% 2.5fr 1fr;
    grid-template-rows: 20% 1fr 1fr;
}

.menu {
    background-color: var(--menu-bg-color);

    grid-column: 1 / 2;
    grid-row: 1 / 4;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding-top: 15px;
    padding-left: 15px;
}

.menu .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: var(--menu-text-color);
}

.menu .logo p {
    display: inline-flex;
    justify-content: flex-start;;
    align-items: center;
    gap: 5px;

    color: var(--menu-text-color);
}

.menu .logo svg {
    width: 50px;
    fill: var(--menu-text-color);
}

.menu .items-1, .menu .items-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    padding-left: 10px;
}

.menu .items-1 p, .menu .items-2 p {
    font-size: 26px;
    display: inline-flex;
    justify-content: flex-start;;
    align-items: center;
    gap: 20px;

    color: var(--menu-text-color);
}

.menu .items-1 svg, .menu .items-2 svg {
    width: 24px;
    fill: var(--menu-text-color);
}

.header {
    background-color: rgb(157, 255, 127);

    grid-column: 2 / 4;
    grid-row: 1 / 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header .top {
    width: 90%;
    height: 60px;

    background-color: rgb(60, 255, 0);
}

.header .bottom {
    width: 90%;
    height: 60px;

    background-color: rgb(60, 255, 0);
}

.projects {
    background-color: rgb(255, 195, 127);

    grid-column: 2 / 3;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.project-items {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}

.projects div {
    background-color: rgb(253, 147, 27);
}

.announcements {
    background-color: rgb(255, 127, 127);

    grid-column: 3 / 4;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.announcements-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.announcements-items div {
    width: 200px;
    height: 50px;
    background-color: rgb(255, 84, 84);
}

.trending {
    background-color: rgb(127, 178, 255);

    grid-column: 3 / 4;
    grid-row: 3 / 4;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.trending-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.trending-items div {
    width: 200px;
    height: 50px;
    background-color: rgb(29, 119, 253);
}